<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
  <packageSources>
    <clear />
    <add key="Nugettest" value="https://pkgs.dev.azure.com/JoshMendSecondOrg/TestProject/_packaging/Nugettest/nuget/v3/index.json" />
  </packageSources>
  </packageSourceMapping>
</configuration>